@font-face {
    font-family: FontsFree-Net-All-Round-Gothic-W01-Bold;
    src: url(../fonts/FontsFree-Net-All-Round-Gothic-W01-Bold.ttf);
  }
  @import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300&display=swap');


.slidersection{
    /* background-color: black; */
    background-image: url(../img/Glass_bg.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.slidersection h3{
    color: white;
    font-family:FontsFree-Net-All-Round-Gothic-W01-Bold ;
}
.slidersection a{
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    

}
.slidersection2 h6{
    font-family: 'Hind Vadodara', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.slidersection2 p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    
}
.slidersection3 p{
    font-family: 'Hind Vadodara';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
.slidersection3-para{
    font-family: FontsFree-Net-All-Round-Gothic-W01-Bold;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
}
@media screen and (max-width: 767px){
    .vector-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .slidersection h3{
        text-align: center;
    }
    .links{
        text-align: center;
    }
    .sliderr{
        text-align: center;
    }
    .slidersection3-para{
        text-align: center;
    }
}

